/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 29/07/2020, 07:10:09 PM
    Author     : kesgr
*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.swal2-content .select-wrapper{
    display: none;
}

[type="radio"]:not(:checked){
    position: absolute; 
    opacity: 0; 
    pointer-events: initial;
}

[type="radio"]:checked~label{
    color: red;
} 

.oculto{
    display: none;
}

input[type="text"]:focus~span{
    display: inline;
}

.helper-text{
    display:none;
}

